@import "../../../styles";

.property {

  $property-border: 1px solid $color--border;

  box-sizing: border-box;
  border: $property-border;
  position: relative;

  .property-header {
    display: flex;
    align-items: center;
  }

  .property-body {
    .property-main-image {
      width: 100%;
      border-top: $property-border;
      border-bottom: $property-border;
    }
  }

  .property-footer {
    padding: 10px;
  }

  &:hover {
    .property-action-group {
      opacity: 1; // using opacity for animation
    }
  }

  .property-action-group {
    position: absolute;
    opacity: 0; // using opacity for animation
    bottom: 50px;
    width: 100%;
    transition: opacity 300ms linear;
  }
}
