<div class="property">
  <div class="property-header" [style.backgroundColor]="property.agency.brandingColors.primary">
    <img [src]="property.agency.logo" alt="agency logo">
  </div>
  <div class="property-body">
    <img [src]="property.mainImage" alt="property image">
  </div>
  <div class="property-footer">
    <p class="property-footer-price">{{property.price}}</p>
  </div>
  <div class="property-action-group">
    <div *ngIf="allowSave" class="property-action-item">
      <button type="submit" (click)="onAddPropertyClick()">Add Property</button>
    </div>
    <div *ngIf="allowRemove" class="property-action-item">
      <button type="submit" (click)="onRemovePropertyClick()">Remove Property</button>
    </div>
  </div>
</div>
