<div class="main">
  <div class="property-list-group">
    <div class="property-list-group-item property-list--results">
      <app-property-list heading="Results"
                         [properties]="resultProperties | async"
                         [allowSave]="true"
                         (propertySaved)="saveProperty($event)"></app-property-list>
    </div>
    <div class="property-list-group-item">
      <app-property-list heading="Saved Properties"
                         [properties]="savedProperties | async"
                         [allowRemove]="true"
                         (propertyRemoved)="removeProperty($event)"></app-property-list>
    </div>
  </div>
</div>
